{% extends "blog/base.html" %}

{% block title %}My Blog{% endblock %}

{% block content %}
  <h1>Naresh 's Blog</h1>
  {% if tag %}
    <h2>Posts tagged with "{{ tag.name }}"</h2>
  {% endif %}
  {% for post in posts %}
      <div class="post">

    <h2>
      <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
      </a>
    </h2>
      {{ post.body|truncatewords:30|linebreaks }}
      <span style="background-color:yellow">Watson Says:</span>
           <p>Translation: {{ post.obj2}}</p>
           <p>Word Count: {{ post.w_count}} |
           Letter Count: {{ post.c_count}}</p>
           <p> <strong> <u>Tone Analyzer Name: </u>{{ post.ToneName1}} <br> </strong> </p>
           <p> <strong> <u>Tone Analyzer Score: </u> {{ post.Score1}} <br> </strong> </p>



           	</p>
      <p class="tags">
      Tags:
      {% for tag in post.tags.all %}
        <a href="{% url "blog:post_list_by_tag" tag.slug %}">
          {{ tag.name }}
        </a>
        {% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>
    <p class="date">
      Published {{ post.publish }} by {{ post.author }}
    </p>
      </div>
  {% endfor %}
  {% include "pagination.html" with page=posts %}

{% endblock %}